header {
    background-color: #1C1C1C;
    height: 100px;
}

.text-primary {
    color: #FFD700
}

.logo {
  max-height: 125px;
  height: auto;
  width: auto;
}

.nav-link {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffffff !important;
  }
}

.ps-6 {
  padding-left: 4rem; /* 64px */
}