header {
    background-color: #1C1C1C;
    height: 150px;
}

.text-primary {
    color: #FFD700
}

.logo {
  max-height: 150px;   // keeps header compact
  height: auto;
  width: auto;
}

.nav-link {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffffff !important;
  }
}
