body {
    background-color: #eaeaea;
    margin: 0;
}

main {
    background-color: #eaeaea;
}

.bg-charcoal {
  background-color: #1C1C1C;
}

$primary: #C99700;

@import "bootstrap/scss/bootstrap";
